@import url("https://rb-fonts-ravikantsaini047-dc0ad04cad6ed45f64763192ab88a4e9b16cc.gitlab.io/data/v2/css/rb-fonts.css");
@import url("https://rb-fonts-ravikantsaini047-dc0ad04cad6ed45f64763192ab88a4e9b16cc.gitlab.io/data/v2/css/toastify.css");
@tailwind base;

@tailwind components;
@tailwind utilities;

.scrollbar-m::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 50px;
  border: 6px solid transparent;
  background-clip: content-box;
  opacity: 1;
  transition: border 0.2s ease, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  @apply bg-gray-500 hover:bg-slate-900 hover:border-4 transition-all delay-200 ease-in-out dark:hover:bg-gray-200 dark:bg-slate-300;
}

*::-webkit-scrollbar {
  @apply w-3 bg-transparent;
}

*::-webkit-scrollbar-track {
  @apply w-3 bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply w-3 border-4 border-solid border-white dark:border-dark hover:border-[3px] rounded-full bg-gray-300 dark:bg-zinc-700 hover:bg-accentLight dark:hover:bg-accentDark;
}

.scrollbar-m::-webkit-scrollbar {
  @apply w-4;
}

.rb_SideBar_ScrollBar::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-clip: content-box;
  transition: border 0.2s ease, background-color 0.2s ease-in-out;
  @apply bg-transparent group-hover:bg-gray-400 hover:!bg-gray-700 hover:border-0 dark:group-hover:bg-stone-500 dark:hover:!bg-stone-300 dark:bg-transparent;
}

.rb_SideBar_ScrollBar::-webkit-scrollbar {
  @apply w-1.5;
}

.rb-scrollbar::-webkit-scrollbar {
  @apply w-2 bg-white dark:bg-slate-800;
}

.rb-scrollbar::-webkit-scrollbar-track {
  @apply w-2 bg-transparent;
}

.rb-scrollbar::-webkit-scrollbar-thumb {
  @apply w-2 bg-gray-300 border-solid border-[3px] border-white dark:border-zinc-800 rounded dark:bg-slate-600;
}

.rb-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply border-2 bg-slate-700 dark:bg-slate-400;
}

.nav-up {
  top: -65px !important;
}

:root {
  --rb-black-color: #000;
  --rb-white-color: #fff;
  --rb-accent-color: #2564eb;
  --rb-darkblue-color: rgb(19 1 116);
  --rb-border-color: rgba(226, 232, 240, 0.8);
  --tw-backdrop-blur: blur(16px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: darkgray;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'rb-franklin', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.rb-communityText {
  mask-image: linear-gradient(180deg,#000 70%,transparent);
  -webkit-mask-image: linear-gradient(180deg,#000 70%,transparent);
}

#articleContent {
  @apply cheltenham text-lg leading-6 text-gray-900 dark:text-gray-100;
}

#articleContent p {
  @apply mb-3 mt-1;
}

#articleContent img {
  @apply rounded-xl object-cover;
}

#articleContent h1 {
  @apply text-4xl mb-6 mt-2 font-bold;
}

#articleContent h2 {
  @apply text-3xl mb-4 mt-1 font-bold;
}

#articleContent h3 {
  @apply text-2xl mb-3 mt-1 font-bold;
}

#articleContent h4 {
  @apply text-xl mb-2 mt-1 font-bold;
}

#articleContent h5 {
  @apply text-xl mb-1 mt-0.5 font-bold;
}

#articleContent h6 {
  @apply text-base mb-1 mt-0.5 font-bold;
}

#articleContent a {
  @apply text-blue-700 underline-offset-2 hover:opacity-70 hover:no-underline transition-all dark:text-orange-400 underline;
}

#articleContent ul {
  @apply list-inside;
}

#articleContent ol {
  @apply list-inside;
}

#articleContent blockquote {
  @apply border-l-4 border-gray-300 dark:border-zinc-700 pl-4 italic;
}

#articleContent code {
  @apply text-sm font-mono;
}

#articleContent pre {
  @apply overflow-x-auto;
}

#articleContent pre code {
  @apply block p-4 rounded-md bg-gray-100 dark:bg-gray-800;
}

#articleContent table {
  @apply table-auto;
}

#articleContent th {
  @apply px-4 py-2 font-bold text-left;
}

#articleContent td {
  @apply px-4 py-2 border-t;
}

#articleContent hr {
  @apply my-4 border-t-2 border-slate-300 dark:border-zinc-700;
}

#articleContent figure {
  @apply my-5;
}

#articleContent figcaption {
  @apply text-xs my-1 text-slate-600 dark:text-gray-300 text-center imperial;
}


.header-wrapper {
  border-bottom: 1px solid;
  border-color: var(--rb-border-color);
  backdrop-filter: var(--tw-backdrop-blur);
  background-color: (255 255 255 / 0.7);
}

.header {
  height: 60px;
}

.rgb-b {
  background: var(--rb-accent-color);
  background: linear-gradient(136deg, var(--rb-accent-color) 0%, var(--rb-darkblue-color) 100%);
}

.rgb-b:hover {
  border-color: var(--rb-border-color);
}

.rgb-b:focus {
  border-color: var(--rb-border-color);
  outline-color: var(--rb-accent-color);
  background: radial-gradient(closest-side, var(--rb-accent-color), var(--rb-darkblue-color) 100%);
}

.graphik {
  font-family: "rb-graphik", Helvetica, sans-serif;
}

.franklin-tv {
  font-family: 'rb-franklin-tv', Helvetica, sans-serif;
}

.franklin {
  font-family: 'rb-franklin', Helvetica, sans-serif;
}

.karnak {
  font-family: 'rb-karnak', Helvetica, sans-serif;
}

.stymie {
  font-family: 'rb-stymie', Helvetica, sans-serif !important;
}

.imperial {
  font-family: 'rb-imperial', Helvetica, sans-serif;
}

.cheltenham {
  font-family: 'rb-cheltenham', Helvetica, sans-serif;
}

.cheltenham-small {
  font-family: 'rb-cheltenham-small', Helvetica, sans-serif;
}

.stymie-small {
  font-family: 'rb-stymie-small', Helvetica, sans-serif;
}

.fact {
  font-family: 'rb-fact', Helvetica, sans-serif;
}

.fact-display {
  font-family: 'rb-fact-display', Helvetica, sans-serif;
}

.kippenberger-con {
  font-family: 'rb-kippenberger', Helvetica, sans-serif;
}

.rb_toast {
  font-family: 'rb-cheltenham-small', sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

@keyframes slidein {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slidein {
  animation: slidein 0.7s ease-in;
}

